<div class="bg-gray-800 py-8 text-center text-gray-400 shadow">
  <div class="flex justify-center content-center pb-6 text-sm md:text-base">
    <p class="mr-4"><%= link_to "Nosotros","#"  %></p>
    <p class="mr-4"><%= link_to 'Turnos',"#"  %></p>
    <p class="mr-4"><%= link_to 'Contacto',"#"  %></p>
    <p class="mr-4"><%= link_to 'Noticias',"#"  %></p>
    <p class="mr-4"><%= link_to 'Eventos',"#"  %></p>
  </div>
  <div class="pb-6">
    <i class="fab fa-instagram mr-6 text-2xl"></i>
    <i class="fab fa-facebook mr-6 text-2xl"></i>
    <i class="fab fa-twitter text-2xl"></i>
  </div>
  <div class="text-sm md:text-base">
    <p><i class="far fa-copyright"></i> 2021 Melchora, Inc. All rights reserved.</p>
    <p>Made by <span class="font-bold text-indigo-600"> <%= link_to 'GV', 'http://www.guillermo-varela.com', target: "_blank"  %></span></p>
  </div>
</div>
