<div class="container mx-auto px-16 py-16">
  <h2 class="text-5xl font-bold text-center pb-16"> Como jugar al padel?</h2>
  <div class="grid grid-cols-3 gap-16">
    <div class="card text-center">
      <div class="flex justify-center pb-4">
        <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619551460/padel_sm_lolmaj.png" alt="" width="100px" height="100px" style="color: black;">
      </div>
      <h2 class="text-2xl font-bold pb-4">PALETA</h2>
      <p>Una paleta de pádel no consta de cuerdas como en el tenis y el squash, por ejemplo.</p>
      <div class="py-8">
        <%= link_to "ver mas", "#", class: " py-2 px-6 rounded-lg text-indigo-700 border border-indigo-700 text-sm font-bold" %>
      </div>
    </div>
    <div class="card text-center">
      <div class="flex justify-center pb-4">
        <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619551459/ball-sm_lapo6j.png" alt="" width="100px" height="100px" style="color: black;">
      </div>
      <h2 class="text-2xl font-bold text-center pb-4">PELOTA</h2>
      <p>La pelota en el padel es básicamente la misma que una pelota de tenis, pero un poco más suave y un poco más pequeña.</p>
      <div class="text-center">
        <%= link_to "ver mas", "#" %>
      </div>
    </div>
    <div class="card text-center">
      <div class="flex justify-center pb-4">
        <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619551460/shoe-sm_emtiwz.png" alt="" width="100px" height="100px" style="color: black;">
      </div>
      <h2 class="text-2xl font-bold text-center pb-4">ZAPATILLAS</h2>
      <p>Hay zapatillas específicas de pádel para comprar pero básicamente es lo mismo que zapatillas que de tenis.</p>
      <div class="text-center">
        <%= link_to "ver mas", "#" %>
      </div>
    </div>
    <div class="card text-center">
      <div class="flex justify-center pb-4">
        <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619551459/score-sm_hfehot.png" alt="" width="100px" height="100px" style="color: black;">
      </div>
      <h2 class="text-2xl font-bold text-center pb-4">CONTEO DE PUNTOS</h2>
      <p>El conteo en pádel es como en el tenis. Juegas lo mejor de 3 o 5 sets y en cada set tienes que ganar 6 juegos.</p>
      <div class="text-center">
        <%= link_to "ver mas", "#" %>
      </div>
    </div>
    <div class="card text-center">
      <div class="flex justify-center pb-4">
        <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619551460/serve-sm_y9dqjb.png" alt="" width="100px" height="100px" style="color: black;">
      </div>
      <h2 class="text-2xl font-bold text-center pb-4">SAQUE</h2>
      <p>Un saque en padel siempre debe ser golpeado por debajo de la mano y la pelota debe ser golpeada a la altura de la cintura o por debajo de ella.</p>
      <div class="text-center">
        <%= link_to "ver mas", "#" %>
      </div>
    </div>
    <div class="card text-center">
      <div class="flex justify-center pb-4">
        <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619553071/5efbcb7cb72aaa12a0ebc4da_V_C3_A4ggar-black-01-p-500_ievr48.png" alt="" width="100px" height="100px" style="color: black;">
      </div>
      <h2 class="text-2xl font-bold text-center pb-4">LOS MUROS</h2>
      <p>Las paredes siempre son parte del juego, pero hay algunas reglas sobre cómo se pueden usar.</p>
      <div class="text-center">
        <%= link_to "ver mas", "#" %>
      </div>
    </div>
  </div>
</div>
