<%= render 'shared/navbar' %>
<%= render 'shared/main_banner' %>
<div class="px-16">
  <h2 class="py-16 md:py-24 lg:py-32 font-bold text-center text-4xl md:text-5xl lg:text-6xl ">Noticias</h2>
  <div>
    <%= render 'shared/cards' %>
  </div>
</div>
<%= render 'shared/secondary_banner' %>
<%= render 'shared/rules' %>
<%= render 'shared/sponsor' %>
<%= render 'shared/event' %>
<% if user_signed_in? %>
<p><%= link_to 'Menu',about_path, class: "btn btn-success btn-block rounded-pill py-2 text-gray-900" %></p>
<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "text-gray-900" %>
<% else %>
<p><%= link_to 'Iniciar sesión', new_user_session_path, class: "btn btn-success btn-block rounded-pill py-2 text-gray-900" %></p>
<% end %>
